.parent {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 400px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    height: 100vh;
    /* setting the grid height to cover the entire viewport height */
}

#guess-card {
    grid-area: 1 / 1 / 2 / 2;
    /* position the guess card at the top left */
}

#current-card {
    grid-area: 1 / 2 / 2 / 3;
    /* position the current card at the top right */
}

#game-info {
    grid-area: 2 / 1 / 3 / 2;
    /* position the game info at the bottom left */
}

#game-controls {
    grid-area: 2 / 2 / 3 / 3;
    /* position the game controls at the bottom right */
}

#guess-card-img,
#current-card-img {
    width: 200px;
    height: 300px;
}

#previous-guesses {
    /* border-top: 1px solid #000; */
    padding-top: 10px;
    margin-top: 10px;
}